<div class="recipes-container">
  <% @recipes.each do |recipe| %>
    <div class="card">
      <div class="cover">
        <%= link_to recipe_path(recipe) do %>
          <%= image_tag("placeholder.png", alt: 'placeholder', class: 'h-16, recipe-card-image')%>
          <%#= recipe.photo.key.present? ? cl_image_tag(experience.photo.key, class:"position-relative") : image_tag("super_mario_arena.gif", class: "position-relative") %>
        <% end %>
        <h1><%= recipe.name %></h1>
        <span class="price"><%= recipe.rating %>★</span>
        <div class="card-back">
          <div class="card-back-difficulty">
            <p class="difficulty">Difficulty: <%= recipe.difficulty.to_i %>/10</p>
          </div>
          <p><%= recipe.description %></p>
          <%= link_to 'View Recipe', recipe_path(recipe), :class => "link-button" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
