<div class="container my-5">
  <div class="card-body mx-5">
    <div class="recipe-grid">
      <div class="main">
        <p class="show-title"><%= @recipe.name %></p>
        <div class="d-flex justify-content-start align-items-center ratings-bar">
          <p><%= @recipe.rating %>★</p>
          <p> | </p>
          <p>Bookmarks: <%= Bookmark.where(recipe: @recipe).count %></p>
          <p> | </p>
          <p><%= @recipe.difficulty %>/10 difficulty</p>
        </div>
        <p class="show-description"><%= @recipe.description %></p>
        <p class="card-text"><small class="text-body-secondary">Posted by <strong><%= @recipe.get_username %></strong> <%= display_post_time(@recipe.created_at) %></small></p>
        <ul>
          <li>
            <p class="list-item"><small class="text-body-secondary">Oven?: <%= @recipe.oven ? 'Yes' : 'No' %></small></p>
          </li>
          <li>
            <p class="list-item"><small class="text-body-secondary">Oven temp: <%= @recipe.oven_temp %> C</small></p>
          </li>
          <li>
            <p class="list-item"><small class="text-body-secondary">Cook time: <%= @recipe.cook_time %> minutes</small></p>
          </li>
          <li>
            <p class="list-item"><small class="text-body-secondary">Total time: <%= @recipe.total_time %> minutes</small></p>
          </li>
        </ul>
        <h3 class="mt-5 mb-3">Instructions</h3>
        <p class="show-text"><%= @recipe.instructions %></p>
      </div>
      <div class="ingredients-container p-4">
        <h3>Ingredients</h3>
        <% @recipe.ingredients.each do |ingredient| %>
          <li><%= ingredient.amount %> <%= ingredient.name %></li>
        <% end %>
      </div>
    </div>
  </div>
</div>
